@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  display: block;
}

.container {
  padding-top: 10vh;
  margin-bottom: 0px;
  background-color: rgb(198, 228, 238);
  height: fit-content;
  min-height: 110vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.box {
  align-self: flex-start;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin-bottom: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-box {
  & > button {
    width: 100%;
    margin-top: 5%;
    height: 15%;
    background-color: paleturquoise;
    border-radius: 20px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color:white;
    &:focus {
      outline: none;
      outline-offset: 0px;
      box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    }
  }
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.animation-portal {
  height: 80%;
  width: 100%;
  border-radius: 20px;
  background-color: paleturquoise;
  & > h1 {
    text-align: center;
  }
}

h1, h2{
  color: grey;
  font-size: 1.2em;
  font-weight: 300;

}